<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companies</title>
</head>

<body>
    <%= single_company.company_id %>
    <br>
    <br>
    <%= single_company.name %>
    <br>
    <br>
    <%= single_company.description %>
    <br>
    <br>
    <img src="<%= single_company.logo_url %>" alt="logo">
    ​
    <br>
    <br>
    <a href="/updateCompany/<%= single_company.name %>"> Company is Hiring!</a>
    ​
    <br>
    <br>
    <a href="/delete/<%= single_company.name %>"> Delete Company </a>
    ​
</body>

</html>